
  
  .home-container {
    /* background:
      url('../assets/succo.png');
      color: #ac26263d;  */
    background:

    linear-gradient(rgba(197, 7, 7, 0.65), rgba(197, 7, 7, 0.65)),
      url('../assets/succo.png');
    
    
    margin: 0 auto;

    background-attachment: fixed;

    
  }



  




  
  .bodu{
    padding: 1rem;
  }

  .fixed-hands {
    position: fixed;
    top: 10%;              /* distance from top of screen */
    width: 15vw;           /* 10% of viewport width */
    height: auto;          /* keep aspect ratio or control via content */
    z-index: 999;          /* ensure it stays on top */


    animation-fill-mode: forwards;
    animation-duration: 0;
    animation-timing-function: ease-in;
  }
  
  /* Subclass: align left */
  .fixed-hands.left {
    left: 0vw;
    animation-name: slideInFromLeft;
  }
  
  /* Subclass: align right */
  .fixed-hands.right {
    right: 0vw;
    animation-name: slideInFromRight;
  }


  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }