.home-container {
  /* background: linear-gradient(rgba(197, 7, 7, 0.65), rgba(197, 7, 7, 0.65)),
    url('../assets/succo.png'); */
  background: var(--color-red);
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 0fr 10fr 0fr;
  animation: expandColumns 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s forwards;
}

@keyframes expandColumns {
  to {
    grid-template-columns: 0.82fr 10fr 0.82fr;
  }
}

.left-column,
.right-column {
  overflow: hidden;
}

.main-content {
  position: relative;
  width: 100%;
  min-width: 0;
  min-height: 100vh;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(rgba(216, 202, 0, 0.5), rgba(216, 202, 0, 0.5)),
    url('../assets/napkin.png'); */
  background: var(--color-yellow);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  animation: shrinkBanner 1s cubic-bezier(0.19, 1, 0.22, 1) 1.2s forwards;
}

@keyframes shrinkBanner {
  to {
    height: 20vh;
  }
}

.banner-text {
  color: #191102;
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: 800;
  font-style: italic;
  text-align: center;
  font-family: 'PP Editorial New', 'Salsa', cursive;
}

.content-underneath {
  padding-top: 20vh;
  width: 100%;
  z-index: 1;
}

.fixed-hands {
  position: fixed;
  top: 10%;
  width: 15vw;
  height: auto;
  z-index: 999;

  opacity: 0;
  filter: blur(4px);

  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.fixed-hands.left {
  left: 0;
  transform: translateX(-40%);
  animation-name: slideInFromLeft;
}

.fixed-hands.right {
  right: 0;
  transform: translateX(40%);
  animation-name: slideInFromRight;
}

@keyframes slideInFromLeft {
  to {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes slideInFromRight {
  to {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
}
